extends: default

rules:
  line-length:
    max: 160
  document-start: disable
  truthy:
    check-keys: false  # GitHub Actions' `on:` key
  indentation:
    spaces: consistent
    indent-sequences: consistent

ignore: |
  .venv/
  build/
